<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utsezzaguidegcdc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTSEzzaGuideGCDC">
        <activity
            android:name=".Cindy"
            android:exported="false"
            android:label="@string/title_activity_cindy"
            android:theme="@style/Theme.UTSEzzaGuideGCDC.NoActionBar" />
        <activity
            android:name=".Lime"
            android:exported="false"
            android:label="@string/title_activity_lime"
            android:theme="@style/Theme.UTSEzzaGuideGCDC.NoActionBar" />
        <activity
            android:name=".Harpe"
            android:exported="false"
            android:label="@string/title_activity_harpe"
            android:theme="@style/Theme.UTSEzzaGuideGCDC.NoActionBar" />
        <activity
            android:name=".Ronan"
            android:exported="false"
            android:label="@string/title_activity_ronan"
            android:theme="@style/Theme.UTSEzzaGuideGCDC.NoActionBar" />
        <activity
            android:name=".Elesis"
            android:exported="false"
            android:label="@string/title_activity_elesis"
            android:theme="@style/Theme.UTSEzzaGuideGCDC.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>